{% extends 'base.html.twig' %}

{% block title %}Hello Suite !{% endblock %}

{% block body %}

<div class="flex">
{% for suite in suites %}
   <div class="card"> 
     <a href="{{path('suite_details',{id: suite.id})}}">{{ suite.titre }}</a>
   </div>
   {% endfor  %}
</div>
{% endblock %}
