{% extends 'base.html.twig' %}

{% block title %}Hello Suite !{% endblock %}

{% block body %}

<div class="flex">
{% for suite in suites %}
   <div class="card"> 
   {{suite.nom}}
   </div>
   {% endfor  %}
</div>
{% endblock %}
